<section id="experience">
    <div class="container">
        <h2>// PROFESSIONAL_EXPERIENCE</h2>

        <div class="experience-list">
            {% for job in site.data.experience %}
            <div class="job-item">
                <div class="job-item__header">
                    <h3>{{ job.position }}</h3>
                    {% if job.url %}
                    <a href="{{ job.url }}" target="_blank" class="company-link">{{ job.company }} <span
                            class="external-icon">↗</span></a>
                    {% else %}
                    <span class="company">{{ job.company }}</span>
                    {% endif %}
                    <span class="time">{{ job.time }}</span>
                </div>

                {% if job.responsibilities %}
                <div class="responsibilities">
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>