<header>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="{{ '/' | relative_url }}" aria-label="Home" class="tech-logo">
                    <img src="{{ '/img/H_Icon.png' | relative_url }}" alt="H_Icon"
                        style="height: 40px; vertical-align: middle; filter: drop-shadow(0 0 5px rgba(102, 252, 241, 0.7));">
                </a>
            </div>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/' | relative_url }}#background-detail">Bio_Data</a></li>
                <li><a href="{{ '/' | relative_url }}#experience">Experience</a></li>
                <li><a href="{{ '/' | relative_url }}#projects">Projects</a></li>
                <li><a href="{{ site.resume }}" target="_blank" class="glow-text">Resume</a></li>
            </ul>
        </nav>
    </div>
</header>