<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<link rel="icon" type="image/png" href="{{ site.logo }}">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Inconsolata:wght@400;700&family=Inter:wght@300;400;600&family=Roboto:wght@300;400;500;700&display=swap"
    rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">